---
import Popover from "./Popover.astro";

---
<section class="relative flex flex-col md:flex-row gap-16 justify-center items-center py-2">
    <div class="[&>p]:text-sm  md:[&>p]:text-sm [&>p]:mb-4 [&>p]:text-pretty [&>p>strong]:text-yellow-200 [&>p>strong]:font-semibold [&>p]:relative order-2 md:order-1">
        <p>Hola mi nombre real es <strong>Lewin Jose Lovo Izaguirre</strong>, mi primera interaccion con el mundo de la tecnologia fue haciendo una calculadora en <strong>C</strong>, tenia 14 anios. Hoy 10 anios despues me encuentro creando, desarrollado y diseniando soluciones Web para una Multinacional.</p>
        <p>Uno de mis grandes hitos fue en 2018 luego de dar un gran desempenio en el curso CS50X.ni promovido por Hardvard y la Universidad Nacional de Ingenieria (UNI), me convocaron a ser parte del <strong>Staff docente </strong> del curso, esto me permitio a conocer al creador del curso 
        <Popover title="David J. Malan." ref="#aboutMe">
            
        <img src="/cs50xni.webp" slot="popover-section" class="h-full object-cover order-2 ring-1" alt={""} />
        <img src="/jmalan.webp" slot="popover-section" class="h-full object-cover ring-1" alt={""} />
        </Popover></p>
        
        <p>Como desarollador fullstack mi objetivo es seguir obteniendo nuevos conocimientos y nuevos retos que me permitan junto con la organizacion poder destacar.</p>

    </div>
    <img class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-12 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%" src="/projects/logo.png" alt="">
</section>
