---
import Popover from "./Popover.astro";

---


<section class="relative flex flex-row gap-x-8 justify-center items-center">
    <div class="[&>p]:mb-4 [&>p]:text-pretty [&>p>strong]:text-yellow-200 [&>p>strong]:font-semibold [&>p]:relative">
        <p>Hola mi nombre real es <strong>Lewin Jose Lovo Izaguirre</strong>, mi primera interaccion con el mundo de la tecnologia fue haciendo una calculadora en <strong>C</strong>, tenia 14 anios. Hoy 10 anios despues me encuentro creando, desarrollado y diseniando soluciones Web para una Multinacional.</p>
        <p>Uno de mis grandes hitos fue en 2018 luego de dar un gran desempenio en el curso CS50X.ni promovido por Hardvard y la Universidad Nacional de Ingenieria (UNI), me convocaron a ser parte del <strong>Staff docente </strong> del curso, esto me permitio a conocer al creador del curso <Popover title="David J. Malan."></Popover></p>
        
        <p>Como desarollador fullstack mi objetivo es seguir obteniendo nuevos conocimientos y nuevos retos que me permitan junto con la organizacion poder destacar.</p>

    </div>
    <img class="rounded-full size-48" src="/projects/logo.png" alt="">
</section>
