---
import Image from "astro/components/Image.astro";
import Logo from "../icons/Logo.astro";
import logoIco from "../img/logo.png";

---

<header class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2 
">

    <nav class="flex flex-row gap-x-2 md:gap-x-10 bg-gray-950 rounded-full px-4 py-1">
        <a href="/">Home</a>
        <a href="#about">About</a>
        <a href="#experience">Experience</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact</a>
    </nav>
</header>