---

interface Props{
    title?: string;
    image?:string;
    ref?:string
}
const {title,image,ref} = Astro.props
---



<a 
    href={ref}
    class="text-blue-600 underline dark:text-blue-500 hover:no-underline" data-popover-target="popover-image" 
    id="popover-trigger">
    {title}
</a>
<div data-popover id="popover-target" role="tooltip" class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-auto md:w-96 dark:text-gray-400 dark:bg-gray-800 dark:border-gray-600">
    <div class="grid md:grid-cols-2 ">

        <slot name="popover-section"/>
    </div>

    <!-- <div class="grid grid-cols-2">
        <div class="col-span-3 p-3">
            <div class="space-y-2">
                <h3 class="font-semibold text-gray-900 dark:text-white">About Italy</h3>
                <p>Italy is located in the middle of the Mediterranean Sea, in Southern Europe it is also considered part of Western Europe. A unitary parliamentary republic with Rome as its capital and largest city.</p>
            </div>
        </div>
        <img src="/projects/anyrun.png" class="h-full " alt="Italy map" />
    </div> -->
    <div data-popper-arrow></div>
</div>



<script>
import { Popover } from 'flowbite';
import type { PopoverOptions, PopoverInterface } from 'flowbite';
import type { InstanceOptions } from 'flowbite';

// set the popover content element
const $targetEl = document.getElementById('popover-target');

// set the element that trigger the popover using hover or click
const $triggerEl = document.getElementById('popover-trigger');

// options with default values
const options:PopoverOptions = {
    placement: 'top',
    triggerType: 'hover',
    offset: 10,
    onHide: () => {
        console.log('popover is shown');
    },
    onShow: () => {
        console.log('popover is hidden');
    },
    onToggle: () => {
        console.log('popover is toggled');
    },
};

// instance options object
const instanceOptions:InstanceOptions = {
    id: 'popoverContent',
    override: true
};

const popover = new Popover($targetEl, $triggerEl, options, instanceOptions);

if($triggerEl){
    $triggerEl.addEventListener('hover', () => { popover.toggle()})
    $triggerEl.addEventListener('click', () => { popover.toggle()})
    $triggerEl.addEventListener('click', (event) => { event.preventDefault()})
}


</script>